Source: libvmod-samlmeta
Priority: extra
Maintainer: Leif Johansson <leifj@mnt.se>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://github.com/samlbits/libvmod-samlbits
#Vcs-Git: git://git.debian.org/collab-maint/libvmmod-samlmeta.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libvmmod-samlmeta.git;a=summary
