#!/usr/bin/make -f
export DH_VERBOSE=1

VERSION = $(shell apt-cache show varnish | grep Version: | awk '{print $2}' | awk -F- '{print $1}')
VARNISHSRC = varnish-${VERSION}
VMODDIR = $(shell PKG_CONFIG_PATH="$(VARNISHSRC)" pkg-config --variable=vmoddir varnishapi)

override_dh_auto_configure:
	./autogen.sh
	apt-get source varnish
	dh_auto_configure -- VMODDIR="$(VMODDIR)" VARNISHSRC="$(VARNISHSRC)"

override_dh_gencontrol:
	if [ -n "$$DEBIAN_OVERRIDE_BINARY_VERSION" ]; then \
		dh_gencontrol -- -v$$DEBIAN_OVERRIDE_BINARY_VERSION; \
	else \
		dh_gencontrol ; \
	fi

clean:
	rm -rf varnish-* varnish_* Makefile.in aclocal.m4 config.log config.guess config.h.in config.sub configure depcomp install-sh ltmain.sh m4 missing src/Makefile.in vmod_samlmeta.3
	dh_clean


%:
	dh $@
